@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  padding: 2rem;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #ff65e0, #f61576);
  display: flex;
  flex-direction: column;
  font-family: "Playwrite CU", cursive;
}
.question{
  position: relative;
  display: flex;
  margin-top: 2vw;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 40vw;
  left: 28vw
}
.question h1{
  text-align: center;
  line-height: 1.5;
  font-size: 3vw;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #7e0089;
}

.container {
  flex: 1;
  position: relative;
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.image-1,
.image-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-1 {
  width: 175px;
}

.image-2 {
  width: 250px;
}

.btn {
  position: absolute;
  top: calc(100% - 5rem);
  min-width: 120px;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  outline: none;
  border: none;
  background-color: #f8fafc;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #e2e8f0;
}

.btn-yes {
  left: 50%;
  transform: translateX(calc(-100% - 1rem));
  z-index: 1;
}

.btn-no {
  left: calc(50% + 1rem);
  transition: all 0.5s ease;
  z-index: 2;
}
@media(max-width:800px){
  body{
    background: linear-gradient(to bottom,  #ef5f9d , #c50176, #c50101);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .question{
    display: inline;
    position: relative;
    left: 1vw;
    width: 80vw;
  }
  .question h1{
    font-size: 5vw;
    text-align: center;
    line-height: 3;
  }
  .btn{
    color: #c50101;
    text-shadow: 2px 2px 5px black;
    background-color: #ff65e0;
    box-shadow: 2px 2px 15px black;
    font-weight: 600;
  }
}
